body{
    box-sizing: border-box;
    margin: 0;
    background-image: url('./assets/img/desert.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.game-control-container{
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 32px;
    display: flex;
    justify-content: end;
}

h1{
    margin-block-start: 0px;
    margin-block-end: 16px;
    font-family: 'MyPacifico';
    color: rgb(192, 55, 55);
    font-weight: 900;
    position: absolute;
    top: 20%;
    font-size: 48px;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.game-size-container{
    width: 720px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'MyChangaOne';
}

.start-container{
    width: 720px;
    height: 480px;
    background-image: url('./assets/img/9_intro_outro_screens/start/startscreen_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-family: 'MyChangaOne';
}

.game-container{
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas{
    background-color: black;
    display: block;
}

.sound-btn{
    border: 3px solid white;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.sound-btn:hover{
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.sound-image{
    height: 32px;
    width: 32px;
    padding-top: 4px;
    padding-right: 2px;
    padding-left: 2px;
}

.sound-image:hover{
    cursor: pointer;
}

.game-over-container{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-over-image{
    height: 200px;
    width: 400px;
    padding-bottom: 32px;
}

.win-image{
    height: 150px;
    width: 400px;
    padding-bottom: 32px;
    padding-top: 60px;
}

.btn-design{
    background-color: rgb(231, 231, 231);
    border: 2px solid rgb(192, 55, 55);
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 150px;
    text-align: center;
    transition: transform 0.2s ease;
}

.btn-design:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.text-design{
    color: rgb(192, 55, 55);
}

.control-container{
    padding-left: 42px;
    padding-right: 42px;
    position: relative;
    top: 83%;
    display: flex;
    justify-content: space-between;
}

.control-container-mobile{
    display: none;
}

.btn-menu{
    border: 2px solid #eedfbb;
    border-radius: 5px;
    padding: 8px 0px;
    width: 100px;
    text-align: center;
    transition: transform 0.2s ease;
}

.btn-menu:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.start-color{
    background-color: rgb(71, 175, 71);
}

.controls-color{
    background-color: orangered;
}

.instructions-color{
    background-color: rgb(231, 26, 26);
}

.text-menu{
    color: #eedfbb;
}

.mobile-btn{
    background-color: rgb(231, 231, 231);
    border: 2px solid rgb(192, 55, 55);
    border-radius: 50px;
    touch-action: none;
    -webkit-touch-callout: none;  
    -webkit-user-select: none;
    user-select: none;
}

.image-offset-left{
    padding-left: 16px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.image-offset-right{
    padding-left: 12px;
    padding-right: 11px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.canvas-container{
    display: flex;
    align-items: end;
    gap: 16px;
}

.mobile-ctrl-box{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 12px;
}

.throw-btn-image{
    height: 40px;
    width: 40px;
    padding-left: 5px;
}

.jump-btn-image{
    height: 40px;
    width: 20px;
    padding-left: 10px;
    padding-bottom: 2px;
}

.landscape-info{
    display: none;
}


@media(max-width:720px){
    canvas, .game-size-container{
        width: calc(100vw - 175px);
    }

    h1{
        margin-block-end: 0px;
        font-size: 32px;
    }

    .start-frame{
        height: 100%;
        width: 100%;
        padding-bottom: 8px;
    }

    .control-container{
        display: none;
    }

    .control-container-mobile{
        font-family: 'MyChangaOne';
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding: 12px 16px;
        background-color: #c2750e;
        border: 2px solid #eedfbb;
        border-radius: 5px;
    }

    .start-container{
        width: 100%;
        height: 100%;
        padding-top:0px;
        display: flex;
        align-items: end;
    }
}

@media(max-height:480px){
    canvas, .game-size-container{
        height: calc(100vh - 75px);
    }

    .game-container{
        padding-top: 32px;
    }

    h1{
        display: none;
    }

    .start-frame{
        height: 100%;
        width: 100%;
        padding-bottom: 8px;
    }

    .control-container{
        display: none;
    }

    .control-container-mobile{
        font-family: 'MyChangaOne';
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding: 12px 16px;
        background-color: #c2750e;
        border: 2px solid #eedfbb;
        border-radius: 5px;
    }

    .start-container{
        width: 100%;
        height: 100%;
        padding-top:0px;
        display: flex;
        align-items: end;
    }

    .game-control-container{
        padding: 8px 8px;
    }

    .sound-image{
        width: 16px;
        height: 16px;
    }

    .game-over-container{
        padding-top: 12px;
        gap: 12px;
    }

    .win-image{
        height: 75px;
        width: 200px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .game-over-image{
        height: 100px;
        width: 200px;
        padding-bottom: 8px;
    }
}

@media(pointer: coarse){
    .mobile-btn:active{
        background-color: #eedfbb;
        border: 2px solid rgb(192, 55, 55);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    }
}

@media(pointer: coarse) and (orientation: portrait){
    .game-container{
        display: none !important;
    }

    .landscape-info{
        display: block;
        height: 100%;
    }

    .landscape-box{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landscape-text{
        padding-bottom: 100px;
        font-family: 'MyChangaOne';
        color: white;
        font-size: 21px;
    }
}