body{
    box-sizing: border-box;
    margin: 0;
    background-image: url('./assets/img/desert.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1{
    margin-block-start: 0px;
    margin-block-end: 16px;
    font-family: 'MyPacifico';
    color: rgb(192, 55, 55);
    font-weight: 900;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.game-size-container{
    width: 720px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'MyChangaOne';
}

.start-container{
    width: 720px;
    height: 480px;
    background-image: url('./assets/img/9_intro_outro_screens/start/startscreen_2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-family: 'MyChangaOne';
}

.game-container{
    height: calc(100vh - 53px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas{
    background-color: black;
    display: block;
}

.sound-image{
    height: 32px;
    width: 32px;
}

.sound-image:hover{
    height: 34px;
    width: 34px;
    cursor: pointer;
}

.game-over-container{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game-over-image{
    height: 200px;
    width: 400px;
    padding-bottom: 32px;
}

.win-image{
    height: 150px;
    width: 400px;
    padding-bottom: 32px;
    padding-top: 60px;
}

.btn-design{
    background-color: rgb(231, 231, 231);
    border: 2px solid rgb(192, 55, 55);
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 150px;
    text-align: center;
    transition: transform 0.2s ease;
}

.btn-design:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.text-design{
    color: rgb(192, 55, 55);
}

.control-container{
    padding-top: 395px;
    padding-left: 42px;
    padding-right: 42px;
    display: flex;
}

.btn-menu{
    border: 2px solid #eedfbb;
    border-radius: 5px;
    padding: 8px 0px;
    width: 100px;
    text-align: center;
    transition: transform 0.2s ease;
}

.btn-menu:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.start-color{
    background-color: rgb(71, 175, 71);
}

.controls-color{
    background-color: orangered;
}

.text-menu{
    color: #eedfbb;
}

@media(max-width:720px){
    canvas{
        width: 100%;
    }
}

@media(max-height:480px){
    canvas{
        height: 100vh;
    }
}