.controls-dialog{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: 2px solid #eedfbb;
    border-radius: 5px;
    font-family: 'MyChangaOne';
}

.controls-dialog span{
    color: #eedfbb;
    font-size: 20px;
}

.dialog-frame{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ctrl-dialog-container{
    border: 1px solid #eedfbb;
    border-radius: 5px;
    padding: 12px;
}

.ctrl-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ctrl-dialog-btn{
    width: 100px;
    padding: 8px;
    background-color: rgb(231, 231, 231);
    border: 2px solid #c03737;
    border-radius: 5px;
    text-align: center;
}

.ctrl-dialog-btn span{
    color: #c03737;
}

.ctrl-dialog-close{
    padding-top: 40px;
}

.ctrl-close-dialog-btn{
    padding: 12px;
    background-color: #c03737;
    border: 2px solid #eedfbb;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.2s ease;
}

.ctrl-close-dialog-btn:hover{
    cursor: pointer;
    transform: translateY(-1px);
}

.headline{
    text-align: center;
}

.instructions-dialog{
    width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: 2px solid #eedfbb;
    border-radius: 5px;
    font-family: 'MyChangaOne';
}

.instructions-dialog span{
    color: #eedfbb;
    font-size: 20px;
}

.instructions-frame{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2{
    color: #eedfbb;
}

#game_play{
    font-size: 22px;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.link-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 10px;
}

.link-class{
    text-decoration: underline;
    color: rgb(231, 231, 231);
    font-size: 21px;
}

.link-class:hover{
    cursor: pointer;
    color: #eedfbb;
}

@media(max-height:540px){
    .link-container{
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .link-class{
        font-size: 16px;
    }
}