@font-face {
    font-family: 'MyPacifico';
    src: url('../assets/fonts/Pacifico/Pacifico-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyChangaOne';
    src: url('../assets/fonts/Changa_One/ChangaOne-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}